.navbar-brand img
{
    width: 60px;
    
}

.nav-link
{
    margin-left: 70px;
}

.row
{
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 0 40px 2px rgba(233,120,120);
}

.btn-success
{
  margin: 30px auto;
}

.ex1 
{
    font-size: 35px;
}

.ex2 
{
    font-size: 25px;

}

.ex2
{
  margin: 30px auto;
}
